parameters:
	ignoreErrors:
		-
			message: "#^Call to function assert\\(\\) with true will always evaluate to true\\.$#"
			count: 1
			path: ../../../src/SleeperNotifier.php

		-
			message: "#^Strict comparison using \\!\\=\\= between pmmp\\\\thread\\\\ThreadSafeArray\\<int, int\\> and null will always evaluate to true\\.$#"
			count: 1
			path: ../../../src/SleeperNotifier.php
